* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; /*root default 16px => 10px;*/
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin: 3rem 0;
}

.text-red {
  color: red;
}
