:root {
  --main-padding: 80px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f5f7;
  width: 100vw;
}

/* Header */
.header {
  padding: 10px 0;
  width: 100%;
  background-color: #c4c4c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  text-decoration: underline;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-right: 10%;
}
.header__navbar a {
  text-decoration: none;
}
.header__navbar li {
  list-style: none;
}

.header__navleft {
  display: flex;
  gap: 5px;
}

.header__navright {
  display: flex;
  gap: 5px;
}

.logo {
  margin: 30px 0;
  font-size: 36px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 0 20%;
  margin: 20px;
}

.navbar li {
  list-style: none;
}

/* Fullimage container */
.fullimage-container {
  width: 100%;
  padding: 0 var(--main-padding);
}

/* Button Content container*/
.buttonContent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 300px;
  margin: 30px 0 0 0;
  text-align: center;
}

.buttonContent-container h3 {
  font-size: 2em;
}

.buttonContent-container p {
  font-size: 1.5em;
}

.buttonContent-container button {
  font-size: 1em;
  width: 200px;
  padding: 10px 15px;
  font-weight: bold;
  border: 1px solid black;
}

/* Cardbox container */
.cardbox__container {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  padding: 20px var(--main-padding);
}

.cardbox__title {
  text-align: center;
}

.cardbox__contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardbox__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__imagebox {
  max-width: 450px;
  flex: 1;
}

.card__content {
  padding-left: 20px;
}

/* buttoncontent-and-card container */
.buttoncontent-and-card__container {
  width: 100%;
  padding: var(--main-padding);
  display: flex;
  justify-content: space-between;
}

.buttoncontent-and-card__container .fullimage-container {
  flex: 3;
  padding: 0;
}

.buttoncontent-and-card__container .buttonContent-container {
  flex: 1;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
}

/* text on fullimage */
.text-on-image {
  position: relative;
  text-align: right;
  top: -180px;
  left: 75%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  width: 300px;
  z-index: 1;
}

.text-on-image h3 {
  color: black;
  background-color: white;
  padding: 20px 30px;
  display: inline-block;
  align-items: flex-end;
  justify-content: flex-end;
}

/* Footer */
footer {
  width: 100%;
  padding: 30px calc(var(--main-padding) + 30px);
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #ffffff;
}

footer li {
  list-style: none;
}

.footer__top {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer__left {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.footer__company {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__legalterms {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__left ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.footer__right ul {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.footer__bottom {
  display: flex;
  gap: 10px;
}
